@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Poppins", sans-serif;
    }
  }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background: url(/icons/arrow.svg) no-repeat right;
}